In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('C:\\Users\\rpinnelli\\Desktop\\python\\netflix pysql\\netflix_titles.csv')

In [ ]:
df.columns

In [ ]:
df.info()

In [32]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\rpinnelli\appdata\local\programs\python\python312\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rpinnelli\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rpinnelli\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\rpinnelli\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://AIPLLTH469\\MSSQL/r1?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

df.to_sql('netflix_raw', con=conn , index=False, if_exists = 'append')
conn.close()

In [46]:


# Connect to the database
try:
    connection = engine.connect()
    print("Connection successful!")

    # # Example query
    # result = connection.execute('SELECT @@SERVERNAME')
    # for row in result:
    #     print(row)

    # Don't forget to close the connection
    df.to_sql('netflix_raw',con=connection,index=False,if_exists='append')
    connection.close()
except Exception as e:
    print(f"An error occurred: {e}")

Connection successful!

In [ ]:
df.shape

In [37]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In title column. title is  not understanding . so we are changining title data type to  nvarchar
all datatypes size are max . so more memeory is wasting and taking time to load.

instead of replace i created a new table.

In [ ]:
max(df.show_id.str.len())  # Function to get the maximum length of values in one column

In [38]:
# Function to get the maximum length of values in each column
def max_col_size(df):
    return df.map(lambda x: len(str(x))).max()

# Display the maximum size of values in each column
print(max_col_size(df))

show_id           5
type              7
title           104
director        208
cast            771
country         123
date_added       19
release_year      4
rating            8
duration         10
listed_in        79
description     248
dtype: int64

length of every row shows . so we can give size of the columns

In [39]:
max(df.description.dropna().str.len())

248

If null values are there then it shows  null value as max value. so remove null values we use dropna() above

In [44]:
df.isna().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

ETL = extract transform load--->

1. download the dataset from kaggle and extract the dataset using python .= extract.
by using pandas data will be preprocessed and data will be cleaned .  = transform in python
and load the  cleaned data  into the  sql server database. = load
This data is used for data analysis.